 html, body {
    margin: 0px;
    padding: 0px;
      
    font-size: 12px;
}
      
#blog-header-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:100;  
    width: 100%;
    height: 150px;
    background-color: #fff;
}
      
      
#menu-container {
    position: fixed;
    top: 150px;
    left: 0px;
    width:100%;
    height: 50px;
    box-sizing: border-box;
    z-index: 10000;
      
    -webkit-transition: padding-left 200ms linear;
    -moz-transition: padding-left 200ms linear;
    -ms-transition: padding-left 200ms linear;
    -o-transition: padding-left 200ms linear;
    transition: padding-left 200ms linear;
}

      
#blog-container {
    margin-top:350px;
    padding: 20px;
}