<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>



 <environments default="development">

  <environment id="development">

   <transactionManager type="JDBC" />

   <dataSource type="POOLED">

    <property name="driver" value="com.mysql.jdbc.Driver" />

    <property name="url" value="jdbc:mysql://localhost:3306/board" />

    <property name="username" value="root" />

    <property name="password" value="12345" />
    
    



    <!--   오라클 DB일 경우 

    <property name="driver" value="oracle.jdbc.driver.OracleDriver" />

    <property name="url" value="jdbc:oracle:thin:@서버주소:1521:xe" />

    <property name="username" value="아이디" />

    <property name="password" value="암호" />

    -->

   </dataSource>

  </environment>

 </environments>



 <mappers>

  <mapper resource="com/test/sql/board.xml" />

 </mappers>

</configuration>